.custom-button {
  min-width: 160px;
  width: auto;
  letter-spacing: 0.5px;
  padding: 16px 25px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;

  &:hover {
    background-color: #111111;
    box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.1);
  }

  &.google-sign-in {
    background-color: #357ae8;

    &:hover {
      background-color: #4285f4;
    }
  }
}
