.checkout-page {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .header-block {
      text-transform: capitalize;
      width: 23%;

      &:last-child {
        width: 8%;
      }
    }
  }

  .total,
  .checkout-button,
  .test-card-details {
    margin-top: 30px;
    margin-left: auto;
  }

  .test-card-details {
    color: #721c24;
    border: 1px solid #f5c6cb;
    font-size: larger;
    padding: 0 20px 20px;
    background-color: #f8d7da;
    border-radius: 0.25rem;

    span {
      color: red;
      font-weight: bold;
    }
  }

  .total {
    font-size: 36px;
  }
}
