.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  @media screen and (max-width: 800px) {
    align-items: center;
  }

  .title {
    cursor: pointer;
  }

  .preview {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow-x: auto;
    padding-bottom: 15px;

    @media screen and (max-width: 800px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
