.basket-icon {
  width: 36px;
  height: 36px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 36px;
    height: 36px;
    opacity: 0.7;
  }

  .item-count {
    position: absolute;
    font-size: small;
    font-weight: bold;
    top: 0;
    right: 0;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    color: white;
    background: #bf360c;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
